@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", serif;
}

.container{
    background-color: #d4e0e0;
}

/* Landing page */
.landing{
    height: 100vh;
    width: 100vw;
}

.navbar{
    height: 10vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-flow: column;
}

.title{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.8rem;
    place-self: center;
    align-self: end;
}

.cart{
    display: none;
    grid-column-start: 8;
    place-self: center;
    align-self: end;
    font-size: 1.2 rem;
}

.infoLand {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    height: 80vh;
    width: 90vw;
    place-self: center;
}

.heading{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}

.headText{
    font-size: 2rem;
    font-weight: 600;
    place-self: center;
    align-self: end;
}

.headButton{
    background-color: #4F8E8E;
    align-self: center;
    height: 60px;
    width: 180px;
    text-align: center;
    display: inline-block;
    color: #fff;
    line-height: 60px;
    /* background-color: rgba(48, 48, 48, 0.5); */
    /* padding: 10px 30px; */
    /* margin: 15px 30px; */
    /* font-size: inherit; */
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    /* position: relative; */
}

/* .headButton a{
    display: grid;
    place-self: center;
    align-self: end;
    height: 5vh;
    width: 8vw;
    background-color: #555;
    text-align: center;
} */

.headImg{
    grid-column-start: 4;
    grid-column-end: 6;
    background: url(images/groupCans.png) no-repeat;
    background-size: cover;
    background-size: 100%;
    background-position: 0 50%;
}

/* Middle section, text preview */
.middle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    height: 80vh;
    width: 90vw;
    place-self: center;
}

.middleLeft{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row;
}


.previewImage{
    background: url(images/previewG.png) no-repeat;
    background-size: cover;
    background-size: 100%;  
    background-position: 0 60%;
    grid-row-start: 1;
    grid-row-end: 4;
}

.imageSelector{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
}

.selectBox{
    width: 30px;
    height: 30px;
    border-radius: 25%;
    border: 2px solid black;
    place-self: center;
}

#greyS{
    justify-self: end;
    background-color: #514741;
}

#greenS{
    background-color: #418655;
}

#blueS{
    justify-self: start;
    background-color: #3356A7;
}

.middleRight{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row;
}

.previewMessage{
    width: 75%;
    place-self: center;
    align-self: start;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 1.2 rem;
    text-align: center;
}

.previewText{
    place-self: center;
    align-self: start;
    grid-row-start: 4;
    grid-row-end: 5;
}

#preview{
    width: 200px;
    height: 50px;
    place-self: center;

}

#bottom{
    background-color: aqua;
    height: 70vh;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    place-self: center;
    /* margin: 5vh 0; */
}

.bLeft{
    place-self: center;
}

.contactHeading{
    align-self: end;
}

.contactMessage{
    align-self: start;
}

.bRight{
    place-self: center;
}